.kata {
            text-align: center;
}

.container .tambah{
    width: 70%;
    margin: auto;
    background: #F0FFFF;
}

.container .login{
    width: 50%;
    margin: auto;
    background: #ffffff;
}
.lgn {
    background: rgb(48, 6, 116);
}
.bgt {
    background: #A9A9A9;
}

.add {
    border: 0;
    background-color: rgb(204, 223, 201);
    display: block;
    margin: 20px auto;
    border: 2px solid black;
    padding: 10px 40px;
    width: 180px;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}

.button button[type="submit"] {
    border:0;
    background-color: rgb(160, 160, 160);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}